<div class="post {{slug}}">
  <div class="header">
    <h1>{{title}}</h1>
    <small>{{author}}. {{date}}</small>
    <div class="tags"><small>{{#tags}}<a href="../tagged/{{slug}}" class="tag">{{tag}}</a>{{/tags}}</small></div>
  </div>
  <div class="body">
  {{{markup}}}
  </div>
  {{{extras}}}
</div>